body {
  position: fixed;
  overflow-y: hidden;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.header {
  width: 100%;
  text-align: center;
  font-size: 100px;
  background-color: black;
  font-family: 'Unica One', cursive;
  color: white;
}

.header-text {
  color: white;
  text-align: center;
  font-family: 'Unica One', cursive;
  margin-top: 0px;
}

.game-container {
  border: 5px double black;
  background-color: white;
  /*width: 70%;*/
  width: 650px;
  /*height: 80vh;*/
  height: 630px;
  margin: 1% auto;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input-area {
  width: 100%;
  height: 5%;
  /*border: 1px solid red;*/
}

.img-area {
  /*border: 2px solid red;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  width: 98%;
  height: 70%;
  background: /*url(assets/Door1.png)*/;
  position: relative;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.caret {
  font-size: 35px;
  display: inline;
  /*border: 1px solid blue;*/
  margin-top: -6px;
  margin-left: 5px;
}

#player-input {
  display: inline;
  font-family: 'Unica One', cursive;
  width: 85%;
  border: none;
  outline: none;
  font-size: x-large;
  overflow-x: hidden;
}

.history-area {
  overflow-y: auto;
  font-family: 'Unica One', cursive;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightgreen;
  height: 17%;
  width: 98%;
  list-style-type: none;
  color: white;
  background-color: black;
  font-size: large;
}

.legal-shit {
  margin-top: 5px;
  color: black;
  font-size: 15px;
  /*border: 2px solid pink;*/
  text-align: center;
}

.reply {
  color: green;
}

.error {
  color: red;
}

/*
////////////////////////////////////////////////////////////////////////
SECRET LEVEL SHIT
////////////////////////////////////////////////////////////////////////
*/

.lives {
  font-family: 'Unica One', cursive;
  color: white;
  font-size: 25px;
  float: left;
  display: inline;
  margin: 0;
  cursor: default;
}

.score {
  font-family: 'Unica One', cursive;
  color: white;
  font-size: 25px;
  float: right;
  display: inline;
  margin: 0;
  cursor: default;
}

.attacking-door {
  background-color: #331a00;
  max-height: 100%;
  max-width: 100%;
  border: 1px solid maroon;
}

.aliens {
  color: #00ff00;
}

.damage-taken {
  height: 100%;
  width: 100%;
  background-color: red;
  opacity: .3;
}

.game-over {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-family: 'Unica One', cursive;
  font-size: 30px;
}

.yellow {
  color: yellow;
}

.underline {
  text-decoration: underline;
  color: yellow;
}
